/*! css-modal v1.0 | MIT License | github.com/SawnFx/css-modal */

input[name=modal-switch]:not(:checked) ~ .modal {
 transition: all 1s;
 top: -300px;
 opacity: 0;
}
input[name=modal-switch]:checked ~ .modal {
 transition: all 1s;
 top: 50vh;
 opacity: 1;
}
.modal {
 text-align: center;
 color: #000;
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 background: #fff;
 width: 500px;
 outline: 999em solid rgba(0,0,0,.5);
 top: -300px;
 opacity: 0;
 transform: translateY(-50%);
}
.modal-dark {
 text-align: center;
 color: #fff;
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 background: #333;
 width: 500px;
 outline: 999em solid rgba(0,0,0,.5);
 top: 50vh;
 transform: translateY(-50%);
}
.modal > .modal-header {
 color: #000;
 padding: 10px;
 border-bottom: 1px solid #999;
}
.modal-dark > .modal-header {
border-bottom: 1px solid #444;
 color: #fff;
}
.modal > .modal-body {
 padding: 10px;
 color: #000;
}
.modal-dark > .modal-body {
 color: #fff;
}
.modal > .modal-footer {
 color: #000;
 padding: 10px;
 border-top: 1px solid #999;
}
.modal-dark > .modal-footer {
 border-top: 1px solid #444;
 color: #fff;
}
.modal > .modal-header > label[for=modal-switch] {
 cursor: pointer;
 float: right;
}
input[name=modal-switch] {
 display: none;
 opacity: none;
 filter: opacity(0);
 z-index: -1;
 width: 0;
 height: 0;
 position: absolute;
 top: -999em;
}
@media (max-width: 768px) {
 .modal, .modal-dark {
  max-width: 90%;
 }
}
